<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Your Link</title>
    </head>
    <body>
        <h1>Your Link</h1>
        <a href="<%= shortUrl %>"><%= shortUrl %></a>
    </body>
</html>

