<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" content>
        <meta name="viewport" conten="width=device-width, initial-scale=1.0">
        <title>URL Shortener</title>
    </head>
    <body>
        <h1>URL Shortener</h1>
        <form action="/shorten" method="post">
            <input type="url" name="longUrl" placeholder="Enter URL" required>
            <button type="submit">Shorten URL</button>
        </form>
        <button id="signUpButton">Sign Up</button>
        </body>
</html>

